
@{
    ViewBag.Title = "Index";
}
<br />

<h2>Perfil administrador</h2>
<br />
<br />

<div class="container">



    <a href="~/Course/Index" class="btn btn-primary btn-lg btn-block" style="color:lawngreen">Gestion de Materias</a><br />

    <a href="~/Student/Index" class="btn btn-primary btn-lg btn-block" style="color:orangered">Gestion de Alumnos</a> <br />

    <a href="~/Teacher/Index" class="btn btn-primary btn-lg btn-block" style="color:yellow">Gestion de Profesores</a> <br />

   

</div>
