@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url('../../Images/—Pngtree—hand drawn graduation season poster_1106602.jpg' ); background-repeat: no-repeat;">
    <h1 style="align-content:center">Universidad Alkemy</h1>
    <p class="lead">Construyendo el Futuro</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumnos</h2>
        <p>
            ● Accede a todas las materias que estén disponibles.<br />
            ● Entrar a la materia, ver la descripción y ver la información de la misma.<br />
            ● Inscribirse en dicha materia. <br />
            ● y mas!<br />
            <br />

        </p>
        <p><a class="btn btn-default" href="~/Profile/Index"> Ir A Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administración</h2>
        ● Accede a la Intranet para crear materias, consultarlas.<br />
        ● Asignar profesores, horarios.<br />
        ● Cupos ,Listados y mas ...<br />
        ● Registrar Alumnos<br />
        <br />
        <br />
        <p><a class="btn btn-default" href="~/Administrador/Index">Ir A Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        Comunicate con nosotros para informacion sobre: <br />
        ● Requisitos de Ingresos.<br />
        ● Becas para aspirantes.<br />
        ● Challenges de Ingreso.<br />
        ● y mucho mas... <br />
        <br />
        <p><a class="btn btn-default" href="~/Home/Contact">Contacto &raquo;</a></p>
    </div>
</div>